@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    --webkit-font-smoothing: antialiased;
    background: #886262;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg') no-repeat center center/cover ;
}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(5, 5, 5, 0.6);
    box-shadow: inset 100px 100px 1000px #000000, inset -100px -100px 1000px #000000;
}
.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border-radius: 20px;
    /* background-color: crimson; */
    backdrop-filter: blur(2px);
    background-color:black;
    box-shadow: 2px -5px 2px rgba(11, 11, 11, 0.934),-2px 5px 2px rgba(11, 11, 11, 0.934);
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
}
.head{
    position: absolute;
    top: 7%;
    left: 0%;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 0;
    /* background-color: chocolate; */
}
h2{
    text-align: center;
    color: #fff;
    font-weight: 400;
    width: 6rem;
    padding: .2rem 0;
    background-color: red;
    border-radius: 5px;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;

}
.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.5em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}
input{
    margin-right: 3px;
    
}
 a{
    margin-left: 5rem;
    color: #606060;
    text-decoration: none;
}
 a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
